<!-- navbar -->
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'CONTACT', contact_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>

<div class="green-container">
  <div class="text-item">
    <h3>About Me</h3>
    <div>
      <p>I have been studying Ruby and Rails intensively for the past 5 months,
      both on the 9-week Le Wagon RoR bootcamp and alongside my personal and
      commercial projects since the course finished in September.
      I have studied Ruby along with OOP practices, and with Rails have
      employed MVC architecture and ActiveRecord. I am very comfortable
      with git and version control. In Javascript I have studied the vanilla
      language, and am hoping to refactor some ongoing projects in jQuery.</p>
      <div><!-- image --></div>
    </div>
  </div>

  <div id="right-rounded" class="text-item">
    <h3>skills</h3>
    <div class="flex-container">
      <ul>
        <li>ruby</li>
        <li>ruby on rails</li>
        <li>html</li>
        <li>css</li>
        <li>javascript</li>
        <li>sql</li>
        <li>active record</li>
        <li>heroku</li>
      </ul>
      <ul>
        <li>ajax</li>
        <li>sinatra</li>
        <li>middleman</li>
        <li>mvc design pattern</li>
        <li>oop</li>
        <li>rspec</li>
        <li>git -github (version controll)</li>
      </ul>
    </div>
  </div>

  <div class="text-item">
    <h3>education & experience</h3>
    <div>
      <div>
        <p>Bachelor of Arts - WDKA - 2016</p>
        <p>Major - art education</p>
        <p>Minor -  contemporary changes and techniques in society</p>
      </div>
      <div>
        <h4>Le Wagon Bootcamp | London | 2018 - 2019</h4>
        <p>
          - learned the workings of Ruby, Ruby on Rails,
          SQL & databases and front end.
        </p>

        <p>
          - designed, implemented and shipped an Airbnb inspired
          e-commerce platform and Game Link
        </p>
        <p>
          - 9 week fullstack coding program
        </p>

        <h4>Computer science introduction  | Utrecht | 2016</h4>
        <p>
          - introducing the workings of to internet,
          databases, logics, binary and operating systems.
        </p>
        <p>- 4 week fulltime student course</p>
      </div>
    </div>
  </div>

  <div id="left-rounded" class="text-item">
    <h3>location</h3>
    <div><!-- image --></div>
  </div>
</div>
