<!-- navbar -->
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'CONTACT', contact_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>

<div>
  <div>
    <h3>About Me</h3>
    <div>
      <p>about me text</p>
      <div><!-- image --></div>
    </div>
  </div>

  <div>
    <h3>skills</h3>
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div>
    <h3>education</h3>
    <div>
      <p>education text block left</p>
      <p>education text block right</p>
    </div>
  </div>

  <div>
    <h3>location</h3>
    <div><!-- image --></div>
  </div>
</div>
