<!-- navbar -->
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>
<div>
  <h3>Contact</h3>
</div>
<div>
  <!-- form -->
  <!-- name -->
  <!-- email -->
  <!-- message -->
</div>
