<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'CONTACT', contact_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>
