<div>
  <div>
    <!-- logo -->
  </div>

  <div>
    <h3>Hi I'm</h3>
    <h1>Roan</h1>
    <h1>Mertens</h1>
  </div>

  <div>
    <h2>A full stack web developer</h2>
    <div>
      <%= link_to 'ABOUT ME', about_path %>
      <%= link_to 'PROJECTS I WORKED ON', projects_path %>
      <%= link_to 'CONTACT ME', contact_path %>
    </div>
  </div>
</div>
