<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'CONTACT', contact_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>
